.wm-button1 {
    background-color: #fd926d;
    border: 5px solid #dd6b44;
    padding: 8px;
    margin-left: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-top: 40px;
    padding-top: 8px;
    width: 156px;
    height: 43px;
}
#hr1{
    margin-bottom: 0;
}
#hr2{
    margin-bottom: 0;
    margin-top:0;
}
.p1{
    margin-bottom: 30px;
    color: #fd926d;
}
.cate{
    border: 1px solid #ddd;
    color: white;
    background: black;
    margin-top: 0px;
    width: 100%;
    height: 32px;
    padding-top: 5px;
    padding-left: 14px;
    margin-bottom: 30px;
}
<!---+--->
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;

}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;  
}
///
#float{
        padding-right: 150px;

}
#sortbuy{
    float: left;
    margin-right: 20px;
}
.floatright{
    float:right;
    height: 0;
}
#showing{
    position: absolute;
    left: 500px;
    top: 10px;
}
#pagination1{
    position: relative;
    bottom: 40px;
}
.size{
    float:left;
    width: 40px;
    height: 40px;
    background: #ddd;
    padding-top: 10px;
    padding-left: 10px;
    margin-right: 10px;
}
#select{
        height: 60px;
}
#fea{
    margin-top: 10px;
}
.hight{
        height: 100px;
}
.floatright1{
    float:right;
    height: 50px;
    margin-bottom: 20px;
}
#showing1{
    position: absolute;
    margin-right: 0px;
    padding-right: 0px;
    right: 155px;
    padding-top: 0px;
    margin-top: 30px;
}
h2 {
  margin-bottom:0;
}
h3 {
  margin:0 0 30px;
} 
.ui-slider-range {
   background:green;
}
.percent {
  color:green;
  font-weight:bold;
  text-align:center;
  width:100%;
  border:none;
}
.h3{
    margin-bottom: 10px;
    margin-top: 20px;
}
#clothing{
        margin-left: 55px;
    }
#sale1{
    left: 15px;
    position: absolute;
    top: 0px;
}